@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
body {
  margin: 0;
  width: 100%;
  max-width: 1440px;
  min-width: 350px;
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  20% {
    stroke-dashoffset: 1550;
  }
  50% {
    stroke-dashoffset: 3100;
    fill: transparent;
    stroke: #FF79DA;
    transform: scale(1);
  }
  65% {
    fill: #F7F7F7;
    fill: transparent;
    stroke: transparent;
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
    stroke: transparent;
  }
  80% {
    stroke-dashoffset: 3100;
    stroke: transparent;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 3100;
    fill: url(#gradient-heart);
    stroke: transparent;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 3100;
    fill: url(#gradient-heart);
    stroke: transparent;
    opacity: 1;
  }
}
@keyframes backgroud-heart {
  20% {
    opacity: 0;
  }
  50% {
    scale: 1;
  }
  65% {
    scale: 1.1;
  }
  75% {
    scale: 1;
  }
  85%, 100% {
    opacity: 1;
  }
}
@keyframes loading {
  100% {
    visibility: hidden;
  }
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes fork-anim {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes knife-anim {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
.button-primary {
  margin: 0;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 15px;
  color: white;
  padding: 16px 20px 16px 20px;
  border-radius: 28px;
  position: relative;
  background: transparent;
  border: none;
  box-shadow: 0px 4px 8px 0px #c4c4c4;
  z-index: 1;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .button-primary {
    font-size: 18px;
  }
}
.button-primary::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, #FF79DA, 40%, #9356DC);
  border-radius: 28px;
  z-index: -1;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.button-primary::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(175deg, #ff93e1, 40%, #a16be0);
  border-radius: 28px;
  z-index: -2;
}
.button-primary:hover {
  box-shadow: 0px 4px 8px 0px #9e9e9e;
}
.button-primary:hover::before {
  opacity: 0;
}
.button-primary:hover:active {
  box-shadow: 0px 0px 0px 0px;
}

.heart-favorite {
  display: flex;
  justify-content: center;
  fill: transparent;
  stroke: #353535;
  stroke-width: 20;
  cursor: pointer;
  position: relative;
}
.heart-favorite__icone {
  overflow: visible;
  width: 25px;
}
.heart-favorite__icone--main {
  z-index: 2;
}
.heart-favorite__icone--main:hover > path {
  animation: stroke-animation 2s ease-in-out forwards;
}
.heart-favorite__icone--main:hover ~ .heart-favorite__icone--background {
  animation: backgroud-heart 2s ease-in-out backwards;
}
.heart-favorite__icone--background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  stroke: none;
  fill: url(#gradient-heart);
  opacity: 0;
}
.heart-favorite__icone path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgba(109, 106, 106, 0.651);
  backdrop-filter: blur(15px) saturate(180%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  animation: loading 3s ease-in-out forwards;
}
.loading__clock {
  position: relative;
  width: 10rem;
}
.loading__clock #clock-background {
  fill: #F7F7F7;
}
.loading__clock #fork {
  display: inline;
  fill: #9356DC;
  stroke-width: 0.0414658;
  animation: fork-anim 2s cubic-bezier(0.18, 0.46, 0.69, 0.64) infinite;
  transform-origin: center;
}
.loading__clock #knife {
  fill: #FF79DA;
  stroke-width: 6.40406;
  animation: knife-anim 1s cubic-bezier(0.18, 0.3, 0.84, 0.95) infinite;
  transform-origin: center;
}
.loading__clock #clock-center {
  fill: #F7F7F7;
  stroke-width: 0.907846;
}
.loading__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3px;
}
.loading__text__content {
  font-family: Roboto;
  font-weight: 500;
  font-size: 25px;
  color: #99E2D0;
}
.loading__text__spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading__text__spinner div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #99E2D0;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading__text__spinner div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.loading__text__spinner div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading__text__spinner div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.loading__text__spinner div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

.header {
  display: flex;
  width: 100%;
  background: white;
  flex-direction: row;
  color: #353535;
}
.header__icon-back {
  z-index: 1;
  font-size: large;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  color: #353535;
  text-decoration: none;
  left: 7%;
  top: 3%;
}
.header__logo {
  z-index: 2;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .header__logo {
    margin-top: 3%;
    margin-bottom: 2%;
    width: 20%;
  }
}
.header__container--home {
  width: 100%;
  background: #EAEAEA;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header--home {
  z-index: 1;
  display: flex;
  width: 100%;
  background: white;
  box-shadow: 0 0 5px 2px #c4c4c4;
}
.header__logo--home {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .header__logo--home {
    margin-top: 3%;
    margin-bottom: 2%;
    width: 20%;
  }
}

.footer {
  background: #353535;
  color: white;
  width: 100%;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 30px;
}
.footer__title {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 15px;
  display: inline-block;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .footer__title {
    font-size: 1.3em;
  }
}
.footer__list-link {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .footer__list-link {
    flex-wrap: wrap;
    height: 50px;
  }
}
.footer__list-link__element {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .footer__list-link__element {
    font-size: 18px;
  }
}
.footer__list-link__element a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
}
.footer__list-link__element--partnair a {
  gap: 9px;
}

.location {
  margin-top: 4%;
  margin-bottom: 4.2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
  cursor: pointer;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .location {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
.location__icone {
  margin: 0;
  color: #353535;
}
.location__text {
  margin: 0;
  font-family: Roboto;
  font-weight: 500;
  font-size: 15px;
  color: #353535;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .location__text {
    font-size: 18px;
  }
}

.card-menu {
  display: flex;
  flex-direction: column;
}
.card-menu__img {
  height: 250px;
  object-fit: cover;
  width: 100%;
  margin: 0;
}
.card-menu__content {
  background: #F7F7F7;
  border-radius: 35px 35px 0 0;
  margin-top: -50px;
  padding: 8px 15px 0px 15px;
}
.card-menu__content__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
  padding-right: 20px;
  gap: 1px;
}
.card-menu__content__header__title {
  font-family: Shrikhand;
  font-weight: 400;
  font-size: 1.8em;
}

.discover-restaurant {
  padding: 30px 30px 50px 30px;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
}
.discover-restaurant__title {
  color: black;
  font-family: Roboto;
  font-weight: 700;
  font-size: 23px;
  margin: 0;
  text-align: center;
  padding: 0 40px 0 40px;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .discover-restaurant__title {
    font-size: 30px;
  }
}
.discover-restaurant__text {
  margin: 0;
  font-family: Roboto;
  font-weight: 300;
  font-size: 17px;
  color: #353535;
  text-align: center;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .discover-restaurant__text {
    font-size: 20px;
  }
}
.discover-restaurant__button {
  margin-top: 15px;
}

.explanation {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;
  padding: 45px 20px 70px 15px;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .explanation {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.explanation__title {
  color: black;
  font-family: Roboto;
  font-weight: 700;
  font-size: 23px;
  margin: 0;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .explanation__title {
    font-size: 30px;
  }
}
.explanation__card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  position: relative;
  background: #F7F7F7;
  padding: 30px 10px 25px 30px;
  border-radius: 25px;
  margin-left: 15px;
  box-shadow: 0px 4px 8px 0px #e2e2e2;
}
.explanation__card__number {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  background: #9356DC;
  border-radius: 50%;
  height: 22px;
  width: 25px;
  padding-bottom: 3px;
  position: absolute;
  left: -15px;
  margin-top: -2px;
}
.explanation__card__icone {
  font-size: 20px;
  color: #686868;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .explanation__card__icone {
    font-size: 22px;
  }
}
.explanation__card__text {
  color: black;
  font-family: Roboto;
  font-weight: 500;
  font-size: 17px;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .explanation__card__text {
    font-size: 19px;
  }
}
.explanation__card:hover {
  background: #f4eefc;
}
.explanation__card:hover .explanation__card__icone {
  color: #9356DC;
}

.restaurants {
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding: 45px 15px 70px 15px;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .restaurants {
    gap: 25px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.restaurants__title {
  color: black;
  font-family: Roboto;
  font-weight: 700;
  font-size: 23px;
  margin: 0;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .restaurants__title {
    font-size: 30px;
  }
}
.restaurants__link {
  text-decoration: none;
  color: black;
}
.restaurants__link__card {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  box-shadow: 0px 4px 8px 0px #e2e2e2;
  border-radius: 15px;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .restaurants__link__card {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.restaurants__link__card__img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 200px;
  width: 100%;
}
.restaurants__link__card__new {
  position: absolute;
  left: 73%;
  margin-top: 4%;
  padding: 6px 12px 6px 12px;
  border-radius: 2px;
  background: #99E2D0;
  color: #278870;
  font-family: Roboto;
  font-weight: 500;
  font-size: 13px;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .restaurants__link__card__new {
    left: 85%;
    margin-top: 2%;
  }
}
.restaurants__link__card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 15px 22px 15px 10px;
}
.restaurants__link__card__content__text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.restaurants__link__card__content__text__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .restaurants__link__card__content__text__title {
    font-size: 23px;
  }
}
.restaurants__link__card__content__text__name {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}
@media all and (min-width: 700px) and (max-width: 991px) {
  .restaurants__link__card__content__text__name {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
