.card-food {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;

    padding: 12px 24px 12px 10px;
    background: #fff;
    border-radius: 16px;
    @include shadow-3D-card;

    &__title {
        @include font-medium(18px);
        margin: 0;
        color: black;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $color-grey-dark;
        
        $fontSize: 15px;
        &__describe {
            @include font-light($fontSize);
        }
        &__price {
            @include font-bold($fontSize);
        }
    }
}