.card-food {
    animation: apparition-card 0.6s ease-out both;
    overflow: hidden;
    background: #fff;
    border-radius: 16px;
    cursor: pointer;
    @include shadow-3D-card;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-grow: 1;
        flex-shrink: 1;
        gap: 5px;

        padding: 12px 24px 12px 10px;
        min-width: 0;
        &__title {
            @include font-medium(18px);
            margin: 0;
            color: black;

            flex-shrink: 1;
            @include text-ellipsis;
        }
        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: nowrap;
            gap: 8px;

            flex-shrink: 2;
            color: $color-grey-dark;
            
            $fontSize: 15px;
            &__describe {
                @include text-ellipsis;
                flex: 0 2 100%;

                @include font-light($fontSize);
            }
            &__price {
                @include font-bold($fontSize);
            }
        }
    }
    &__check {
        flex-shrink: 0;
        border-radius: 0 16px 16px 0;
        background: $color-tertiary;
        /* width: 55px; quand affiché */
        width: 0;
        transition: width 0.6s ease-out;

        overflow: hidden;

        display: flex;
        &__round {
            margin: auto;
            margin-left: 18px;            
            background: white;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            min-width: 22px;
            min-height: 22px;

            display: flex;
            &__icone {
                font-size: 16px;
                margin: auto;
                color: $color-tertiary;
            }
        }
    }
    &:hover {
        & .card-food__check {
            width: 55px;

            &__round {
                &__icone {
                    animation: check-food-icone 0.6s ease-out both;
                }
            }
        }
    }
}