.heart-favorite {
    display: flex;
    justify-content: center;

    fill: transparent;
    stroke: $color-grey-dark;
    stroke-width: 20;
    cursor: pointer;
    position: relative;

    &__icone {
        overflow: visible;
        width: 22px;                        
        &--main {
            z-index: 2;
            &:hover {
                & > path {
                    animation: stroke-animation 2s ease-in-out forwards;
                }
                & ~ .heart-favorite__icone--background {
                    animation: backgroud-heart 2s ease-in-out backwards;
                }
            }
        }
        &--background {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 1;
            stroke: none;
            fill: url(#gradient-heart);
            opacity: 0;
        }
        path {
            stroke-dashoffset: 0;
            stroke-dasharray: 1550;
            transform-origin: center;
        }
    }
}