body {
    margin: 0;
    width: 100%;
}
.header {
    @include header-properties;
    flex-direction: row;
    color: $color-grey-dark;
    
    &__icon-back {
        z-index: 1;
        font-size: large;
        margin-top: auto;
        margin-bottom: auto;

        position: absolute;
        color: $color-grey-dark;
        text-decoration: none;

        left: 7%;
        top: 3%;
    }
    &__logo {
        z-index: 2;
        @include logo-header;
    }
}
.footer {
    background: $color-grey-dark;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 30px;

    &__title {
        @include font-title;
        font-size: 1em;
        margin-bottom: 15px;
        display: inline-block;
    }
    &__list-link {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 8px;
        &__element {
            @include font-footer;
            a {
                text-decoration: none;
                color: white;

                display: flex;
                flex-direction: row;
                align-items: baseline;
                gap: 15px;
            }
            &--partnair {
                a {
                    gap: 9px;
                }
            }
        }
    }
}