.discover-restaurant {
    padding: 30px 30px 50px 30px;
    background: $color-grey-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12px;

    &__title {
        @include font-title-section;
        text-align: center;
        padding: 0 40px 0 40px;
    }
    &__text {
        margin: 0;
        @include font-text(17px);
        color: $color-grey-dark;
        text-align: center;
    }
    &__button {
        margin-top: 15px;
    }
}
.explanation {
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 30px;

    padding: 45px 20px 70px 15px;

    &__title {
        @include font-title-section;
    }

    &__card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;

        background: $color-grey-secondary;

        padding: 30px 10px 25px 30px;
        border-radius: 25px;

        margin-left: 15px;

        @include shadow-3D-card;

        &__number {
            display: flex;
            align-items: flex-end;
            justify-content: center;

            color: white;
            @include font-medium(14px);
            text-align: center;
            background: $color-primary;

            border-radius: 50%;
            height: 22px;
            width: 25px;
            padding-bottom: 3px;

            position: absolute;
            left: 20px;
            margin-top: -2px;
        }
        &__icone {
            font-size: 20px;
            color: lighten($color: $color-grey-dark, $amount: 20%);
        }
        &__text {
            color: black;
            @include font-medium(17px);
        }

        &:hover {
            background: lighten($color: $color-primary, $amount: 36%);
            .explanation__card__icone {
                color: $color-primary;
            }
        }
    }
}

.restaurants {
    background: $color-grey-secondary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    padding: 45px 15px 70px 15px;

    &__title {
        @include font-title-section;
    }
    &__link {
        text-decoration: none;
        color: black;

        &__card {
            display: flex;
            flex-direction: column;
    
            background: white;
    
            @include shadow-3D-card;
    
            $borderRadius: 15px;
            border-radius: $borderRadius;
    
            &__img {
                border-radius: $borderRadius $borderRadius 0 0;
                object-fit: cover;
                height: 200px;
                width: 100%;
            }
            &__new {
                position: absolute;
                left: 73%;
                margin-top: 4%;

                padding: 6px 12px 6px 12px;
                border-radius: 2px;

                background: $color-tertiary;
                color: darken($color-tertiary, 40%);
                @include font-medium(13px);
            }
            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                padding: 15px 22px 15px 10px;

                &__text {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;

                    &__title {
                        @include font-bold(18px);
                        margin: 0;
                    }
                    &__name {
                        @include font-light(18px);
                        margin: 0;
                    }
                }
                &__heart {
                    display: flex;
                    justify-content: center;

                    fill: transparent;
                    stroke: $color-grey-dark;
                    stroke-width: 20;
                    cursor: pointer;
                    position: relative;

                    &__icone {
                        overflow: visible;
                        width: 25px;
                        path {
                            stroke-dashoffset: 0;
                            stroke-dasharray: 1550;
                            transform-origin: center;
                        }
                        &--main {
                            &:hover {
                                & > path {
                                    animation: stroke-animation 2s ease-in-out forwards;
                                }
                                & ~ .restaurants__link__card__content__heart__icone--background > path {
                                    animation: fade-animation 2s ease-in-out forwards;
                                }
                            }
                        }
                        &--background {
                            position: absolute;
                            left: 0;
                            right: 0;
                            z-index: -1;
                            stroke: none;
                        }
                    }
                    

                    /* &__icone {
                        font-size: 1.8em;
                        &--void {
                            color: $color-grey-dark;
                        }
                        &--full {
                            opacity: 0;
                            color: $color-primary;
                            transform-origin: center bottom;
                            transform: scale(0, 0);
                            transition: transform 400ms opacity 400ms;
                            &:hover {
                                opacity: 1;
                                transform: scale(1, 1);
                            }
                        }
                    } */
                }
            }
        }
    }    
}