.header {
    &__container--home {
        width: 100%;
        background: $color-grey-primary;
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    &--home {
        z-index: 1;
        @include header-properties;
        box-shadow: 0 0 5px 2px darken($color-grey-primary, 15%);
    }
    &__logo--home {
        @include logo-header;        
    }
}
.discover-restaurant {
    padding: 30px 30px 50px 30px;
    background: $color-grey-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12px;

    &__title {
        @include font-title-section;
        text-align: center;
        padding: 0 40px 0 40px;
    }
    &__text {
        margin: 0;
        @include font-text(17px);
        color: $color-grey-dark;
        text-align: center;
    }
    &__button {
        margin: 0;
        margin-top: 15px;
        @include font-medium(15px);
        color: white;
        padding: 16px 20px 16px 20px;
        border-radius: 28px;

        background: $color-primary;
        border: none;
        @include shadow-3D(darken($color-grey-primary, 15%));
        &:active {
            box-shadow: 0px 0px 0px 0px;
        }
    }
}
.explanation {
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 30px;

    padding: 45px 20px 70px 15px;

    &__title {
        @include font-title-section;
    }

    &__card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 15px;

        background: $color-grey-secondary;

        padding: 30px 10px 25px 30px;
        border-radius: 25px;

        margin-left: 15px;

        @include shadow-3D(darken($color-grey-primary, 3%));

        &__number {
            display: flex;
            align-items: flex-end;
            justify-content: center;

            color: white;
            @include font-medium(14px);
            text-align: center;
            background: $color-primary;

            border-radius: 50%;
            height: 22px;
            width: 25px;
            padding-bottom: 3px;

            position: absolute;
            left: 20px;
            margin-top: -2px;
        }
        &__icone {
            font-size: 20px;
            color: lighten($color: $color-grey-dark, $amount: 20%);
        }
        &__text {
            color: black;
            @include font-medium(17px);
        }

        &:hover {
            background: lighten($color: $color-primary, $amount: 36%);
            .explanation__card__icone {
                color: $color-primary;
            }
        }
    }
}