@keyframes stroke-animation {
    0% {
        stroke-dashoffset: 0;
    }
    20% {
        stroke-dashoffset: 1550;
    }
    50% {
        stroke-dashoffset: 3100;
        fill: transparent;
        stroke: $color-secondary;
        transform: scale(1);
    }
    65% {
        fill: $color-grey-secondary;
        fill: transparent;
        stroke: transparent;
        transform: scale(1.1);
    }
    75% {
        transform: scale(1);
        stroke: transparent;
    }
    80%{
        stroke-dashoffset: 3100;
        stroke: transparent;
        opacity: 1;
    }
    85%{
        stroke-dashoffset: 3100;
        fill: url(#gradient-heart);
        stroke: transparent;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 3100;
        fill: url(#gradient-heart);
        stroke: transparent;
        opacity: 1;
    }
}
@keyframes backgroud-heart {
    20% {
        opacity: 0;
    }
    50% {
        scale: 1;
    }
    65% {
        scale: 1.1;
    }
    75% {
        scale: 1;
    }
    85%, 100% {
        opacity: 1;
    }
}