/* heart-favorite */
@keyframes stroke-animation {
    0% {
        stroke-dashoffset: 0;
    }
    20% {
        stroke-dashoffset: 1550;
    }
    50% {
        stroke-dashoffset: 3100;
        fill: transparent;
        stroke: $color-secondary;
        transform: scale(1);
    }
    65% {
        fill: $color-grey-secondary;
        fill: transparent;
        stroke: transparent;
        transform: scale(1.1);
    }
    75% {
        transform: scale(1);
        stroke: transparent;
    }
    80%{
        stroke-dashoffset: 3100;
        stroke: transparent;
        opacity: 1;
    }
    85%{
        stroke-dashoffset: 3100;
        fill: url(#gradient-heart);
        stroke: transparent;
        opacity: 0;
    }
    100% {
        stroke-dashoffset: 3100;
        fill: url(#gradient-heart);
        stroke: transparent;
        opacity: 1;
    }
}
@keyframes backgroud-heart {
    20% {
        opacity: 0;
    }
    50% {
        scale: 1;
    }
    65% {
        scale: 1.1;
    }
    75% {
        scale: 1;
    }
    85%, 100% {
        opacity: 1;
    }
}
/* loading */
@keyframes loading {
    0% {

    }
    100% {
        visibility: hidden;
    }
}
@keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}
@keyframes fork-anim {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(-1turn);
    }
}
@keyframes knife-anim {
    0% {
        transform: rotate(0turn);
    }
    100% {
        transform: rotate(1turn);
    }
}

/* card menu */
@keyframes apparition-card {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes check-food-icone {
    from {
        transform: rotate(-1.5turn);
    }
    to {
        transform: rotate(0);
    }
}