@mixin desktop-only {
    @media (min-width: map-get($breakpoints, desktop)) {
        @content
    }
};
@mixin touch-pad-only {
    $max-width: map-get($breakpoints, desktop) - 1px;
    @media (min-width: map-get($breakpoints, touch-pad)) and (max-width: $max-width) {
        @content
    }
};

@mixin font-title {
    font-family: Shrikhand;
}
@mixin font-location {
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
}

@mixin header-properties {
    display: flex;
    width: 100%;
}
@mixin logo-header {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 40%;
    height: auto;
}