$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey-primary: #EAEAEA;
$color-grey-secondary: #F7F7F7;
$color-grey-dark: #353535;

$breakpoints: (
    desktop: 992px,
    touch-pad: 768px
);