.card-menu {
    display: flex;
    flex-direction: column;
    &__img {
        height: 250px;
        object-fit: cover;
        width: 100%;
        margin: 0;
        @include touch-pad-only {
            height: 400px;
        }
        @include desktop-only {
            height: 450px;
        }
    }
    &__content {
        background: $color-grey-secondary;
        border-radius: 35px 35px 0 0 ;
        margin-top: -50px;
        padding: 12px 15px 0px 15px;
        &__header {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            align-content: flex-start;
            justify-content: space-between;
            padding-right: 20px;
            gap: 1px;
            &__title {
                color: black;
                @include font-title;
                font-size: 1.6em;
                margin-bottom: 27px;
                @include desktop-only {
                    margin-left: 30px;
                }
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            @include touch-pad-only {
                padding-left: 15px;
                padding-right: 15px;
            }
            @include desktop-only {
                flex-direction: row;
                flex-wrap: wrap;
            }

            &__button {
                width: 180px;
                margin-bottom: 40px;
                @include touch-pad-only {
                    width: 230px;
                }
                @include desktop-only {
                    width: 100%;
                    margin-left: 38%;
                    margin-right: 38%;
                }
            }
        }
    }
}