.footer {
    background: $color-grey-dark;
    color: white;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 30px;

    @include touch-pad-only {
        padding-left: 30px;
    }
    @include desktop-only {
        padding-left: 50px;
        padding-bottom: 50px
    }
    &__title {
        @include font-title;
        font-size: 20px;
        margin-bottom: 15px;
        display: inline-block;
        @include touch-pad-only {
            font-size: 26px;
        }
        @include desktop-only {
            font-size: 26px;
        }

    }
    &__list-link {
        margin: 0;
        padding: 0;
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 8px;

        @include touch-pad-only {
            flex-wrap: wrap;
            height: 50px;
        }
        @include desktop-only {
            flex-wrap: wrap;
            height: 60px;
        }

        &__element {
            @include font-footer;
            a {
                text-decoration: none;
                color: white;

                display: flex;
                flex-direction: row;
                align-items: baseline;
                gap: 15px;
            }
            &--partnair {
                a {
                    gap: 9px;
                }
            }
        }
    }
}