.header {
    @include header-properties;
    flex-direction: row;
    color: $color-grey-dark;
    position: relative;

    &__icon-back {
        z-index: 1;
        font-size: 20px;
        /* width: 25%; */
        height: auto;

        position: absolute;
        color: $color-grey-dark;
        text-decoration: none;

        left: 7%;
        bottom: 30%;
        @include desktop-only {
            font-size: 25px;
            left: 3%;
        }
    }
    &__logo {
        z-index: 2;
        @include logo-header;
    }
    
    &__container--home {
        width: 100%;
        background: $color-grey-primary;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &--home {
        z-index: 1;
        @include header-properties;
        box-shadow: 0 3px 4px 0px darken($color-grey-primary, 15%);
    }
    &__logo--home {
        @include logo-header;
    }
}